html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
}

body {
    background-color: #dbe7e9;
}

.container {
    display: flex;
    width: calc(100% - 150px); 
    height: calc(100% - 80px); 
    margin: 40px 75px;
    border: 9px solid white;
    border-radius: 15px;
}

.left-panel {
    width: 30%;
    height: calc(100%-20px);
    background-color: white;
    padding: 20px;
}

.right-panel {
    width: 70%;
    height: calc(100%-20px);
    background-color: #bfd3d6;
    border-radius: 10px;
    padding: 20px;
}
.img{
    width: 20%;
    height: auto;
}
.name{
    width: 80%;
    height: auto;
    margin-left: 20%;
    font-family: 'Josefin Sans', sans-serif;
}
.left-panel .left-panel-pane {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
  
.left-panel .left-panel-pane .img {
    width: 20%;
    text-align: center;
}
  
.left-panel .left-panel-pane .img img {
    width: 200%;
    border-radius: 50%;
    border: 3px solid #bfd3d6;
}
  
.left-panel .left-panel-pane .name {
    width: 80%;
    padding-left: 10px;
}
.left-panel-pane{
    display: flex;
}
.left-panel hr {
    margin: 20px 0;
}
.USerNAme{
    color: #124a53;   
     padding:0;
     font-size: x-large;
     margin-top: 10px;
     font-weight: bolder;
}
.do-it{
    font-size: large;
}
hr{
    margin: auto 5px;
    border: 0;
    border-top: 2px solid #bfd3d6;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
.tasks{
    display: flex;
    justify-content:start;
    margin-left: 5%;
    margin-top: 10%;
    font-family: 'Josefin Sans', sans-serif;
}
#calender-svg{
    width: 6%;
    margin-right: 4%;
}
.filters{
    margin-left: 20%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 ;
    font-family: 'Geologica', sans-serif;
}
.author-name{
    margin-left: 5px;
}
.socials{
    display: flex;
    justify-content:space-evenly;
    margin-top: 40px;
}
.img-socials{
    transition: .2s;
    width: 250%;
}
.img-socials:hover{
    width: 400%;
}
#header{
    display:flex;
    width: 80%;
    justify-content:space-between
}
#head{
    display: flex;
    justify-content: center;
    align-items:center;

}
#date{
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
    color: #124a53;
    font-weight: bold;
}
#header-text{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: lighter;
    color: #124a53;
    /* font-weight: bold; */
}
.right-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons {
    display: flex;
    margin-right: 10px; /* Adjust the margin as per your preference */
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-radius: 25px;
    align-items: center;
    width: 80%;
    height: 8%;
    background-color: white;
}

#input {
    text-align: center;
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
}

#img-plus {
   width: auto;
}
.inputarea{
    width: 60%;
}
.buttons{
    width: 20%;
}
.check{
    width: 20%;
    display: flex;
    height: 50%;
    justify-content: center;
}
.btn{
    border: 0;
    background: transparent;
}
.btn.active{
   text-shadow: 2px 2px 5px black;
}
/* .task-container {
    margin: 2% 0;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    border-radius: 25px;
    align-items: center;
    width: 70%;
    height: 8%;
    background-color: white;
} */

.div-task {
    margin-top: 2%;
    display: flex;
    padding: 1%;
    border-radius: 25px;
    align-items: center;
    width: 70%;
    height: 8%;
    background-color: white;
}
.div-task1{
    width: 10%;
}
.div-task2{
    font-family: 'Josefin Sans', sans-serif;
    width: 80%;
}
.check-task {
    width: 5%;
    background:transparent;
    border: none;
}

.delete-task {
    width: 5%;
    background:transparent;
    border: none;
}
.resp{
    width: 100%;
}
.wrap{
    line-height: 130%;
}